/model_operations/results/checkpoint-500/
/model_operations/results/checkpoint-1000/
/model_operations/results/checkpoint-1377/
/uploads/
/dataset/apple_stock.csv
/dataset/insurance.csv
/dataset/iris.txt
/.venv/
/.git
/.ipynb_checkpoints
/.idea



